{% extends 'layout.html' %}
{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}"/>
{% endblock css_add %}

{% block content %}
<div class="book">
   <div class="container">
      <div class="book_block">
         <h1 >{{book.title}}</h1> 
         <ul>
            {% for page in book.bookpage_set.all %}
            <li><a class="book_title" href ="{% url 'page' book.id page.id %} ">
               {{page.title}}
            </a></li>
            {%endfor%}   
      </ul>
      </div>
   </div>
</div> 
{% endblock %}

