{% extends 'layout.html' %}
{% block content %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-md-4 mt-4">
            <div class="card br-25 p-3">
                <div class="text-center">
                    <img 
                    src="/static/css/logo.png" class="img-fluid " width:'200' height:'200'> 
                    {% comment %} class="photo"> {% endcomment %}
                </div>
                <form method="POST" action="/login">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="text-danger"> {{ error }} </p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text_log" for="email">Ваш логин</label>
                        <input type="email" class="form-control" name = 'email' id="email" placeholder="Введите ваш логин">
                        <p id="errorEmail" class="text-danger d-none">Логин не должен содержать цифр</p>
                    </div>
                    <div class="form-group">
                        <label class="text_log" for="password">Ваш пароль</label>
                        <input type="password" class="form-control" id="password" name ='password' placeholder="Введите ваш пароль">
                    </div>
                    {% comment %} <input class="text-light bg-dark" type="button" id="myButton" class="btn" value="Залогиниться"> {% endcomment %}
                    <button type"submit" class="btn btn-block login">Залогиниться</button>
                </form>
            </div>
        </div>
{% endblock %}