{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% comment %} {% block title %}Заголовок{% endblock %} {% endcomment %}
{% block content %}
    {% comment %} <form action="form1.php" method="post"> {% endcomment %}
        {% comment %} <div>Название главы</div> {% endcomment %}
        {% comment %} <input type="text" name="title_page" class = "title_page" required="required"> {% endcomment %}
        <div class = "text-center">
            <form method="POST" action = '/page_add'>
                {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% render_field field class="form-control" %}
                    {% endfor %}
                    <input type="submit" id="myButton" class="btn btn-block btn-outline-light" value="Опубликовать">
            </form>
        </div>
        {% comment %} </form> {% endcomment %}
{% endblock %}