{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% block css_add %}
    <link rel="stylesheet" href="{% static 'css/reset_login.css' %}"/>
{% endblock css_add %}

<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Сброс пароля</h4>
                    <hr>
                    <div class="alert alert-info">
                        Напишите сюда ваш email для сброса пароля
                    </div>
                    <form method="POST" >
                        {% csrf_token %}
                        {{ password_form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">Отправить</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}