{% extends 'layout.html' %}
{% block content %}
{{sname}}
<div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-md-4 mt-4">
    <h1 class="text-dark text-center">Регистрация</h1>
    <div class="block p-3 text-center">
        <form method="POST" action="/register">
            {% csrf_token %}
            {% for f in form%}
                <p><label class ='form-label' for='{{f.id_for_label}}'>{{ f.label }}: </label>{{ f }}</p>
                <div class = 'form-error'> {{f.errors}}</div>
            {%endfor%}
            <input type="submit" id="myButton" class="btn btn-block btn-outline-light" value="Залогиниться">
        </form>
                
    </div> 
</div>
{% endblock %}
